.v[data-class=v] .vpower a{
    font-size: 15px;
    color: #555555
}
.v[data-class=v] .vpower a:hover{
    color: #49b1f5
}
.v[data-class=v] .vwrap{
    border-radius: 20px;
    border-color: #49b1f5;
    background-image: url(/img/comment_bg.gif),url(/img/Sitich30.gif);
    background-position: 85% 90%, 10% 90%;
    background-repeat: no-repeat;
}
.v[data-class=v] .vwrap .vheader .vinput {
    border-bottom: 1px #4a7dbe dashed;
}
.vheader.item3:hover {
    font-size: 20px;
}